.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 
    auto 1fr auto;
} 

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(3, 65, 165);
  padding: 5px 10px;
}

footer section figure {
  margin: 0;
  padding: 0;
}

footer section ul {
  list-style-type: none;
}
