.btn-primary {
    background-color: #764cfc !important;
    color: #fff !important;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #a36dfd !important;
    color: #fff !important;
  }
  
