.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 
    auto 1fr auto;
} 

main{
  margin-left: 6px;
}

h2{
  text-align: center;
}

.redes-list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  
   
}
.icono {
  width: 24px;
  height: 24px;
  fill: rgb(40, 7, 100);
  margin-right: 20px;
}



